<% provide :title, t("view.cart") %>

<%= render "layouts/header" %>
<%= render "layouts/flash_messages" %>
<h2 class="text-uppercase text-center mb-1 mt-5"><%= t "view.cart" %></h2>
<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0"><%= t "view.cart" %> <%= @cart_items.size %> <%= t "items" %></h5>
          </div>
          <div class="card-body">
            <%= render @cart_items %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0"><%= t "view.sumary" %></h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex flex-column justify-content-between border-0 px-0 mb-3">
                <% @cart_items.each do |cart_item| %>
                  <div class="row d-flex flex-column">
                    <div><%= cart_item.product_name %>:</div>
                    <div> <%= (cart_item.product_price) %> x <%= cart_item.quantity %> = <%= number_to_currency(cart_item.product_price * cart_item.quantity) %></div>
                  </div>
      
                <% end %>
                <hr class="my-4" />
                <div>
                  <strong><%= t "view.total_amount" %></strong>
                </div>
                <span><strong id="cart-total-amount"><%= number_to_currency(get_cart_items_price) %></strong></span>
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-lg btn-block">
              <%= t "view.checkout" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
