<%= form_for @product, multipart: true do |f| %>

  <div class="form-outline mb-4">
    <%= f.label :name, t("view.product_name"), class: "form-label" %>
    <%= f.text_field :name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :price, t("view.product_price"), class: "form-label" %>
    <%= f.text_field :price, class: "form-control form-control-lg" %>
  </div>
  
  <div class="form-outline mb-4">
    <%= f.label :category, t("view.product_category") %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: "form-control form-control-lg" %>
  </div>
  
  <div class="form-outline mb-4">
    <%= f.label :description, t("view.product_description"), class: "form-label" %>
    <%= f.text_field :description, id: "form3Example3cg", class: "form-control form-control-lg" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :quantity_on_stock, t("view.product_quantity") %>
    <%= f.number_field :quantity_on_stock , as: :date_of_birth, class: "form-control" %>
  </div>

  <span>
    <%= f.label :image, t("view.product_image") %>
    <%= f.file_field :image, multiple: false, class: "form-control"%>
  </span>

  <div class="d-flex justify-content-center">
    <%= f.submit t("view.product_upload"), class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body mt-5" %>
  </div>
<% end %>
